{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'main/css/login.css' %}" />
  <link rel="stylesheet" href="{% static 'main/css/changePassword.css' %}" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  />
  <title>Смена пароля</title>
</head>
<body>
  <div class="holder">
    <div class="containerWrap">
      <div class="containerItem">
        <div class="containerWrapperInfo">
          <div class="logo">
            <img src="{% static 'main/img/logotypeAprel.svg' %}" alt="sad" />
          </div>
          <div class="logoText">
            <span class="icon"><i class="fas fa-lock fa-lg"></i></span>
            <span>Смена пароля</span>
          </div>
        </div>
      </div>
      <div class="containerItem">
        <form class="customForm" method="post" action="{% url 'change_password' %}">
          {% csrf_token %}

          <!-- display form errors -->
          {% if form.errors %}
          <div class="error-message">{{ form.errors }}</div>
          {% endif %}

          <!-- input fields for password change -->
          <div class="formField">
            <label for="id_old_password">Старый пароль:</label>
            <input
              type="password"
              id="id_old_password"
              name="old_password"
              required
            />
          </div>
          <div class="formField">
            <label for="id_new_password1">Новый пароль:</label>
            <input
              type="password"
              id="id_new_password1"
              name="new_password1"
              required
            />
          </div>
          <div class="formField">
            <label for="id_new_password2">Повторите пароль:</label>
            <input
              type="password"
              id="id_new_password2"
              name="new_password2"
              required
            />
          </div>
          <button class="submitButton" type="submit">Сменить пароль</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>